body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

#logo img {
    width: 50px; /* Ajuste conforme necessário */
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#whatsapp a img {
    width: 20px; /* Ajuste conforme necessário */
    margin-right: 5px;
}

#banner {
    background-color: #add8e6;
    position: relative;
    overflow: hidden;
}

#moto {
    background: url('moto-image.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    width: 50%;
    float: right;
}

#texto-banner {
    padding: 50px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.btn-saber-mais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Adicione regras de mídia (media queries) para tornar o site responsivo */
@media screen and (max-width: 600px) {
    #logo img {
        width: 30px; /* Ajuste conforme necessário */
        margin-right: 10px;
    }

    #moto, #texto-banner {
        width: 100%;
        float: none;
    }
}